<section>
  <div class="section-body">

    <!-- BEGIN BASIC VALIDATION -->
    <div class="row">

      <div class="col-lg-12">
        <div class="card card-underline">
          <div class="card-head card-head-sm">
            <header><b>Vaga - Pesquisar</b></header>
          </div>

          <div class="card-body" style="display: block;">
            <form class="form" name="formulario" #form="ngForm" novalidate accept-charset="utf-8">

              <div class="row">

                <div class="col-sm-1">
                  <div class="form-group">
                    <input type="text" maxlength="80" autocomplete="off"
                           [(ngModel)]="objetoPesquisa.codigo"
                           name="nome" class="form-control">
                    <label>Código</label>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="form-group">
                    <input type="text" maxlength="80" autocomplete="off"
                           [(ngModel)]="objetoPesquisa.descricao"
                           name="nome" class="form-control">
                    <label>Descrição</label>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Tipo da Vaga *</label>
                    <div style="margin-top: 10px;">
                      <label class="checkbox-inline checkbox-styled" *ngFor="let tipoVaga of listaTipoVaga">
                        <input type="checkbox"
                               name="fgSelecionado"
                               [(ngModel)]="tipoVaga.fgSelecionado"/>
                        <span>{{tipoVaga.nome}}</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-content">
                        <select class="form-control" [(ngModel)]="objetoPesquisa.situacao" name="codigoLocal">
                          <option [ngValue]="null">- Selecione a Situação -</option>
                          <option *ngFor="let situacao of listaSituacao" [ngValue]="situacao.valorCampo">{{situacao.nomeValor}}</option>
                        </select>
                        <label>Situação</label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" autocomplete="off" [formControl]="myControlCbo" matInput class="form-control" [(ngModel)]="cbo" name="cbo" [matAutocomplete]="auto" placeholder='Informe o CBO da vaga.'>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnCbo">
                      <mat-option *ngFor="let option of filteredOptionsCbo | async" [value]="option">
                        {{option.nome}}
                      </mat-option>
                    </mat-autocomplete>
                    <label>Ocupação/CBO</label>
                  </div>
                </div>

              </div>

            </form>
          </div>

          <div class="card-actionbar">
            <div class="card-actionbar-row">
              <a class="btn ink-reaction btn-raised btn-success" (click)="pesquisar()" accesskey="P">
                Pesquisar
              </a>
              <a class="btn ink-reaction btn-raised btn-default" (click)="novo()" accesskey="N">
                Novo
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-lg-12" *ngIf="listaResultado != null">
      <em class="text-caption result" *ngIf="listaResultado.length > 1">
        Foram encontrados {{listaResultado.length}} registros.
      </em>
      <em class="text-caption result" *ngIf="listaResultado.length == 1">
        Foi encontrado {{listaResultado.length}} registro.
      </em>
      <em class="text-caption result" *ngIf="listaResultado.length < 1">
        Nenhum registro foi encontrado.
      </em>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body no-padding">
            <div class="table-responsive no-margin">
              <table id="datatable1" class="table table-hover no-margin">
                <thead class="style-default-dark">
                <tr>
                  <th class="text-left">Código</th>
                  <th class="text-left">Ocupação</th>
                  <th class="text-left">Descrição</th>
                  <th class="text-left">Empregador</th>
                  <th class="text-left">Trabalhador</th>
                  <th class="text-left">Tipo da Vaga</th>
                  <th class="text-left">Tipo da Descrição</th>
                  <th class="text-left">Situação</th>
                  <th class="text-left" style="width: 3%;"></th>
                  <th class="text-left" style="width: 3%;"></th>
                </tr>
                </thead>

                <tr *ngFor="let item of listaResultado">
                  <td class="text-right">{{item.codigo}}</td>
                  <td><span *ngIf="item.cboEntity != null">{{item.cboEntity.nome}}</span></td>
                  <td>{{item.descricao}}</td>
                  <td>{{item.empregador.cadastroUnico.nome}}</td>
                  <td>
                    <span *ngIf="item.trabalhadorEntity != null">{{item.trabalhadorEntity.cadastroUnico.nome}}</span>
                  </td>
                  <td>
                    <span *ngIf="item.tipoVaga == 'F'">Formal</span>
                    <span *ngIf="item.tipoVaga == 'I'">Informal</span>
                  </td>
                  <td>
                    <span *ngIf="item.tipoDescricaoVaga == 'G'">Geral</span>
                    <span *ngIf="item.tipoDescricaoVaga == 'N'">Nominal</span>
                    <span *ngIf="item.tipoDescricaoVaga == 'F'">Freguesia</span>
                  </td>
                  <td>{{item.descricaoSituacao}}</td>
                  <td>
                    <button type="button" class="btn btn-icon-toggle" (click)="visualizar(item.codigo)" title="Visualizar">
                      <i class="fa fa-search"></i>
                    </button>
                  </td>
                  <td>
                    <button type="button" *ngIf='(item.situacao == 1 || item.situacao == 2) && (item.tipoDescricaoVaga == "G")' class="btn btn-icon-toggle" (click)="editar(item.codigo)" title="Editar" >
                      <i class="fa fa-edit"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
