<section>
	<div class="section-header">
		<ol class="breadcrumb">
			<li class="active">Layouts</li>
		</ol>
	</div>
	<div class="section-body contain-lg">

		<!-- BEGIN INTRO -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-primary">Layouts</h1>
			</div><!--end .col -->
			<div class="col-lg-8">
				<article class="margin-bottom-xxl">
					<p class="lead">
						As opções de layout a seguir podem ser usadas para diferentes propósitos. Escolha a que melhor se adequa ao seu uso. 
						Você pode escolher entre um cabeçalho de largura total ou uma barra de menus de altura total.
					</p>
					<p class="lead">
						Fixar a barra de menu, se você quiser começar com uma barra de menus expandida. 
						Quando você escolhe uma barra de menus expandida, ela é automaticamente reduzida em telas menores.
					</p>
				</article>
			</div><!--end .col -->
		</div><!--end .row -->
		<!-- END INTRO -->

		<!-- BEGIN TILE CONTENT -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-primary">Conteúdo</h2>
			</div><!--end .col -->
		</div><!--end .row -->
		<!-- END TILE CONTENT -->

		<!-- BEGIN LAYOUT - HEADER FULL WIDTH -->
		<div class="row">
			<div class="col-lg-12">
				<h4>Cabeçalho de largura total</h4>
			</div>
		</div><!--end .row -->
		<div class="row">
			<div class="col-lg-3 col-md-4  col-sm-12">
				<article class="margin-bottom-xxl">
					<p>
						Nesse layout, o cabeçalho se estende por toda a largura da tela.
						Abaixo do cabeçalho está a barra de menu.
					</p>
				</article>
			</div><!--end .col -->
			<div class="col-lg-offset-1 col-md-4 col-sm-6">
				<div class="card card-outlined style-default-bright cardlayout">
					<div class="card-body no-padding card-tiles style-default-light">
						<div class="height-1 style-default-bright"></div>
						<div class="row">
							<div class="col-xs-3">
								<div class="height-5 style-gray-bright"></div>
							</div>
							<div class="col-xs-9"></div>
						</div>
					</div><!--end .card-body -->
				</div><!--end .card -->
				<div class="text-caption holder">
					<a href="javascript:void(0);" class="btn btn-flat btn-accent ink-reaction stick-top-right layoutButton" data-layout="1">Ativar</a>
					<ul class="text-caption">
						<li>Barra de menus expandida</li>
						<li><strong>Cabeçalho de largura total</strong></li>
						<li>Cabeçalho fixo</li>
					</ul>
				</div><!--end .holder -->
			</div><!--end .col -->
			<div class="col-md-4 col-sm-6">
				<div class="card card-outlined style-accent cardlayout">
					<div class="card-body no-padding card-tiles style-default-light">
						<div class="height-1 style-default-bright"></div>
						<div class="row">
							<div class="col-xs-1">
								<div class="height-5 style-gray-bright"></div>
							</div>
							<div class="col-xs-11"></div>
						</div>
					</div><!--end .card-body -->
				</div><!--end .card -->
				<div class="text-caption holder">
					<a href="javascript:void(0);" class="btn btn-flat btn-accent ink-reaction stick-top-right layoutButton disabled" data-layout="2">Ativado</a>
					<ul class="text-caption">
						<li>Barra de menus recolhida</li>
						<li><strong>Cabeçalho de largura total</strong></li>
						<li>Cabeçalho fixo</li>
					</ul>
				</div><!--end .holder -->
			</div><!--end .col -->
		</div><!--end .row -->
		<!-- END LAYOUT - HEADER FULL WIDTH -->

		<!-- BEGIN LAYOUT - MENUBAR FULL HEIGHT -->
		<div class="row">
			<div class="col-lg-12">
				<h4>Barra de menus de altura total</h4>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<article class="margin-bottom-xxl">
					<p>
						Neste layout, a barra de menus se estende por toda a altura da tela.
					</p>
				</article>
			</div><!--end .col -->
			<div class="col-lg-offset-1 col-md-4 col-sm-6">
				<div class="card card-outlined style-default-bright cardlayout">
					<div class="card-body no-padding card-tiles style-default-light">
						<div class="row">
							<div class="col-xs-3">
								<div class="height-6 style-gray-bright"></div>
							</div>
							<div class="col-xs-9">
								<div class="height-1 style-default-bright"></div>
							</div>
						</div>
					</div><!--end .card-body -->
				</div><!--end .card -->
				<div class="text-caption holder">
					<a href="javascript:void(0);" class="btn btn-flat btn-accent ink-reaction stick-top-right layoutButton" data-layout="3">Ativar</a>
					<ul class="text-caption">
						<li>Barra de menus expandida</li>
						<li><strong>Barra de menus de altura total</strong></li>
						<li>Cabeçalho fixo</li>
					</ul>
				</div><!--end .holder -->
			</div><!--end .col -->
			<div class="col-md-4 col-sm-6">
				<div class="card card-outlined style-default-bright cardlayout">
					<div class="card-body no-padding card-tiles style-default-light">
						<div class="row">
							<div class="col-xs-1">
								<div class="height-6 style-gray-bright"></div>
							</div>
							<div class="col-xs-11">
								<div class="height-1 style-default-bright"></div>
							</div>
						</div>
					</div><!--end .card-body -->
				</div><!--end .card -->
				<div class="text-caption holder">
					<a href="javascript:void(0);" class="btn btn-flat btn-accent ink-reaction stick-top-right layoutButton" data-layout="4">Ativar</a>
					<ul class="text-caption">
						<li>Barra de menus recolhida</li>
						<li><strong>Barra de menus de altura total</strong></li>
						<li>Cabeçalho fixo</li>
					</ul>
				</div><!--end .holder -->
			</div><!--end .col -->
		</div><!--end .row -->
		<!-- END LAYOUT - MENUBAR FULL HEIGHT -->

		<!-- BEGIN LAYOUT - STATIC HEADER -->
		<div class="row">
			<div class="col-lg-12">
				<h4>Cabeçalho Estático</h4>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<article class="margin-bottom-xxl">
					<p>
						Neste layout, o cabeçalho fica estático no topo da página e não acompanha a rolagem da mesma.
					</p>
				</article>
			</div><!--end .col -->
			<div class="col-lg-offset-1 col-md-4 col-sm-6">
				<div class="card card-outlined style-default-bright cardlayout">
					<div class="card-body no-padding card-tiles style-gray-bright">
						<div class="row">
							<div class="col-xs-3"></div>
							<div class="col-xs-9 ">
								<div class="border-black border-dashed"><div class="style-default-bright height-1"></div></div>
								<div class="height-5 style-default-light"></div>
							</div>
						</div>
					</div><!--end .card-body -->
				</div><!--end .card -->
				<div class="text-caption holder">
					<a href="javascript:void(0);" class="btn btn-flat btn-accent ink-reaction stick-top-right layoutButton" data-layout="5">Ativar</a>
					<ul class="text-caption">
						<li>Barra de menus expandida</li>
						<li>Barra de menus de altura total</li>
						<li><strong>Cabeçalho estático</strong></li>
					</ul>
				</div><!--end .holder -->
			</div><!--end .col -->
			<div class="col-md-4 col-sm-6">
				<div class="card card-outlined style-default-bright cardlayout">
					<div class="card-body no-padding card-tiles style-gray-bright">
						<div class="row">
							<div class="col-xs-1"></div>
							<div class="col-xs-11 ">
								<div class="border-black border-dashed"><div class="style-default-bright height-1"></div></div>
								<div class="height-5 style-default-light"></div>
							</div>
						</div>
					</div><!--end .card-body -->
				</div><!--end .card -->
				<div class="text-caption holder">
					<a href="javascript:void(0);" class="btn btn-flat btn-accent ink-reaction stick-top-right layoutButton" data-layout="6">Ativar</a>
					<ul class="text-caption">
						<li>Barra de menus recolhida</li>
						<li>Barra de menus de altura total</li>
						<li><strong>Cabeçalho estático</strong></li>
					</ul>
				</div><!--end .holder -->
			</div><!--end .col -->
		</div><!--end .row -->
		<!-- END LAYOUT - STATIC HEADER -->

	</div><!--end .section-body -->
</section>