<section>    
  <div class="section-body">

    <!-- <div *ngIf="mensagem">      
      {{mensagem.text}}
    </div> -->

    <!-- BEGIN BASICDATION -->
    <div class="row">     

      <div class="col-lg-12">
        <div class="card card-underline">
          <div class="card-head card-head-sm">
            <header><b>Trabalhador - Cadastrar</b></header>

            <div class="tools" *ngIf="codigo == undefined">
              <div class="btn-group" title="Apagar todos os campos">
                <a href="javascript:void(0);" class="btn btn-icon-toggle" (click)="limparCampos()">
                  <i class="fa fa-eraser"></i>
                </a>
              </div>
            </div>
          </div>
          
          <div class="card-body">
            <form class="form" name="formulario" #form="ngForm" novalidate accept-charset="utf-8"  (ngSubmit)="inserir()">
              
              <h5>Os campos com * são obrigatórios.</h5>


              <!-- DADOS GERAIS -->
              <div class="card card-outlined style-primary" id="divDadosGeraisUsuario">
                <div class="card-head">
                  <header>Dados Gerais</header>
                </div>
                
                <div class="card-body" style="display: block;">

                  <div class="row">
                    
                    <div class="col-sm-3">
                      <div class="form-group">
                        <apt-cpf [(ngModel)]="objetoAtualiza.cadastroUnico.cpf" name="cpf" #cpf="ngModel" [isReadOnly]="codigo != undefined" (cadastroUnicoChange)="carregarCadastroUnico($event)"></apt-cpf>
                        <label>CPF *</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <input type="text" autocomplete="offRg" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.registroGeral" mask='00000000000000'
                                name="cnpj" class="form-control" required>  
                        <label>RG *</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group control-width-normal">
                        <div class="input-group date" id="textDataExpedicaoContato">
                          <div class="input-group-content">
                            <input matInput [matDatepicker]="picker1" onkeypress="return formataData(event, this);" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.dataEmissaoRg" name="dataEmissaoRg"
                                  class="form-control" maxlength="10" #dataEmissaoRg="ngModel" autocomplete="offDtExp" required>
                            <label>Data de Expedição *</label>
                          </div>
                          
                          <span class="input-group-addon cal" (click)="picker1.open()"><i class="fa fa-calendar"></i></span>
                          <mat-datepicker-toggle style="display: none;" matSuffix [for]="picker1" class="input-group-addon cal"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </div>                        
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <input type="text" autocomplete="offOrgEms" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.orgaoEmissorRg"
                                name="orgaoEmissorRg" maxlength="20" class="form-control" required> 
                        <label>Org. Emissor *</label>
                      </div>
                    </div>
    
                    <div class="col-sm-1">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.ufOrgaoEmissorRg" name="ufRg" #ufRg="ngModel" required>
                          <option *ngFor="let uf of listaUf" [ngValue]="uf.valor">{{uf.nome}}</option>
                        </select>
                        <label>UF *</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" maxlength="80" autocomplete="offNome" [(ngModel)]="objetoAtualiza.cadastroUnico.nome"
                                name="nome1" class="form-control" required>  
                        <label>Nome *</label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <input type="text" maxlength="80" autocomplete="offNomeMae" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.nomeMae"
                                name="nomeMae" class="form-control" required>  
                        <label>Nome da Mãe *</label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">

                    <div class="col-sm-4">
                      <div class="form-group">
                        <apt-email [(ngModel)]="objetoAtualiza.cadastroUnico.email" name="email" #email="ngModel"></apt-email>
                        <label>E-mail *</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group control-width-normal">
                        <div class="input-group date" id="textDataNascimentoContato">
                          <div class="input-group-content">
                            <input matInput [matDatepicker]="picker" onkeypress="return formataData(event, this);" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.dataNascimento" name="dataNascimento"
                                  class="form-control" maxlength="10" #dataNascimento="ngModel" autocomplete="offDtNasc" required>
                            <label>Data de Nascimento *</label>
                          </div>
                          
                          <span class="input-group-addon cal" (click)="picker.open()"><i class="fa fa-calendar"></i></span>
                          <mat-datepicker-toggle style="display: none;" matSuffix [for]="picker" class="input-group-addon cal"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Sexo *</label>
                        <div style="margin-top: 10px;">
                        <label class="radio-inline radio-styled">
                          <input type="radio" value="M" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.sexo" name="sexo" #sexo="ngModel" >
                          <span>Masculino</span>
                        </label>
                        <label class="radio-inline radio-styled">
                          <input type="radio" value="F" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.sexo" name="sexo" #sexo="ngModel" >
                          <span>Feminino</span>
                        </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="objetoAtualiza.cadastroUnico.pessoaFisica.estadoCivil" name="estadoCivil" #estadoCivil="ngModel" required>
                          <option *ngFor="let estadoCivil of listaEstadoCivil" [ngValue]="estadoCivil.valorCampo">{{estadoCivil.nomeValor}}</option>
                        </select>
                        <label>Estado Civil *</label>
                      </div>
                    </div>

                  </div>
                                
                </div>
              </div>

              <!-- OUTRAS INFORMACOES -->
              <div class="card card-outlined style-primary" id="outrasInformacoes">
                <div class="card-head">
                  <header>Outras Informações</header>
                </div>
              
                <div class="card-body" style="display: block;">          
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <input type="text" autocomplete="offInss" [(ngModel)]="objetoAtualiza.numeroInss" mask='00.000.00000/00'
                                name="numeroInss" class="form-control">
                        <label>INSS</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <input type="text" autocomplete="offPis" [(ngModel)]="objetoAtualiza.numeroPis" mask='000.00000.00-0'
                                name="numeroPis" class="form-control" required>  
                        <label>PIS *</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <input type="text" maxlength="7" autocomplete="offIP" [(ngModel)]="objetoAtualiza.numeroInscricaoPrefeitura" mask='00000000000'
                                name="numeroInscricaoPrefeitura" class="form-control">
                        <label>Inscrição Prefeitura</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <input type="text" maxlength="8" autocomplete="offCTPS" [(ngModel)]="objetoAtualiza.numeroCtps" mask='00000000'
                                name="numeroCtps" class="form-control" required>  
                        <label>CTPS *</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <input type="text" maxlength="7" autocomplete="offSCTPS" [(ngModel)]="objetoAtualiza.numeroSerieCtps" mask='00000000000'
                                name="numeroSerieCtps" class="form-control" required>  
                        <label>Série CTPS *</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group control-width-normal">
                        <div class="input-group date" id="textDataExpedicaoCtps">
                          <div class="input-group-content">
                            <input matInput [matDatepicker]="dtExpCtps" onkeypress="return formataData(event, this);" [(ngModel)]="objetoAtualiza.dataEmissaoCtps" name="dataExpedicaoCtps"
                                  class="form-control" maxlength="10" #dataEmissaoCtps="ngModel" autocomplete="offDTCTPS" required>
                            <label>Data de Emissão CTPS *</label>
                          </div>
                          
                          <span class="input-group-addon cal" (click)="dtExpCtps.open()"><i class="fa fa-calendar"></i></span>
                          <mat-datepicker-toggle style="display: none;" matSuffix [for]="picker" class="input-group-addon cal"></mat-datepicker-toggle>
                          <mat-datepicker #dtExpCtps></mat-datepicker>
                        </div>                        
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="objetoAtualiza.ufCtps" name="ufCtps" #ufCtps="ngModel" required>
                          <option *ngFor="let uf of listaUf" [ngValue]="uf.valor">{{uf.nome}}</option>
                        </select>
                        <label>Estado de Emissão CTPS *</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" maxlength="80" [(ngModel)]="objetoAtualiza.observacao" placeholder="Informe aqui dados como fumante ou não fumante e outras observações relevantes sobre o perfil do trabalhador"
                                 name="observacao" class="form-control" autocomplete="offObs">
                          <label>Observações</label>
                        </div>
                      </div>

                    </div>


                </div>
              </div>


              <!-- CBO -->
              <div class="card card-outlined style-primary" id="cbo">
                <div class="card-head">
                  <header>CBO
                      <small>  (Adicione pelo menos um CBO)</small>
                  </header>
                </div>
                <div class="card-body" style="display: block;">

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">

                        <input type="text" autocomplete="off" [formControl]="myControlCbo" matInput class="form-control" [(ngModel)]="trabalhadorCbo.cbo" name="cbo" [matAutocomplete]="autoCbo">
                        <mat-autocomplete #autoCbo="matAutocomplete" [displayWith]="displayFnCbo">
                            <mat-option *ngFor="let optCbo of filteredOptionsCbo | async" [value]="optCbo">
                                {{optCbo.nome}}
                            </mat-option>
                        </mat-autocomplete>

                        <label>CBO</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                          <input type="text" maxlength="50" [(ngModel)]="trabalhadorCbo.nome" autocomplete="offDescCbo"
                                name="trabalhadorCbo" class="form-control">
                        <label>Descrição</label>
                      </div>
                    </div>

                  </div>

                  <div class="row small-padding">
                    <div class="pull-left">
                        <button type="button" class="btn ink-reaction btn-raised btn-primary btn-raised btn-sm" (click)="adicionarCbo()">
                          Adicionar CBO
                        </button> 
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="table-responsive no-margin">
                      <table class="table table-condensed table-hover no-margin">
                        <thead class="style-primary-light">	
                          <tr>
                            <th>CBO</th>
                            <th>Descrição</th>
                            <th style="width: 3%;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let trabalhadorCbo of listaTrabalhadorCbo; let i = index" [attr.data-index]="i">
                            <td style="width: 25%;">{{trabalhadorCbo.descricaoCbo}}</td>
                            <td style="width: 25%;">{{trabalhadorCbo.nome}}</td>
                            <td style="width: 3%;">
                              <i class="glyphicon glyphicon-trash" (click)="excluirTrabalhadorCbo(i)" style="cursor: pointer;" title="Inativar"></i>
                            </td>
                          </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


              <!-- DEFICIENCIAS -->
              <div class="card card-outlined style-primary" id="deficiencias">
                <div class="card-head">
                  <header>Deficiências</header>
                </div>

                <div class="card-body" style="display: block;">

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                          <select class="form-control" [(ngModel)]="trabalhadorDeficiencia.objDeficiencia" name="objDeficiencia" #objDeficiencia="ngModel" required>
                            <option value="null">- Selecione uma Deficiência -</option>
                            <option *ngFor="let deficiencia of listaDeficiencia" [ngValue]="deficiencia">{{deficiencia.nomeValor}}</option>
                          </select>
                        <label>Deficiência</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                          <input type="text" maxlength="50" [(ngModel)]="trabalhadorDeficiencia.nome" autocomplete="offDescDef"
                                name="trabalhadorDeficiencia" class="form-control" >
                        <label>Descrição</label>
                      </div>
                    </div>

                  </div>

                  <div class="row small-padding">
                    <div class="pull-left">
                        <button type="button" class="btn ink-reaction btn-raised btn-primary btn-raised btn-sm" (click)="adicionarDeficiencia()">
                          Adicionar Deficiência
                        </button> 
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="table-responsive no-margin">
                      <table class="table table-condensed table-hover no-margin">
                        <thead class="style-primary-light">	
                          <tr>
                            <th>Deficiência</th>
                            <th>Descrição</th>
                            <th style="width: 3%;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let trabalhadorDeficiencia of listaTrabalhadorDeficiencia; let i = index" [attr.data-index]="i">
                            <td style="width: 25%;">{{trabalhadorDeficiencia.descricaoDeficiencia}}</td>
                            <td style="width: 25%;">{{trabalhadorDeficiencia.nome}}</td>
                            <td style="width: 3%;">
                              <i class="glyphicon glyphicon-trash" (click)="excluirTrabalhadorDeficiencia(i)" style="cursor: pointer;" title="Inativar"></i>
                            </td>
                          </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ENDERECO -->
              <div class="card card-outlined style-primary" id="divEndereco">
                <div class="card-head">
                  <header>Endereço
                      <small>  (Adicione pelo menos um endereço)</small>
                  </header>
                </div>
              
                <div class="card-body" style="display: block;">          

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="endereco.objTipo" name="objTipo" #objTipo="ngModel" required>
                          <option *ngFor="let tipoEndereco of listaTipoEndereco" [ngValue]="tipoEndereco">{{tipoEndereco.nomeValor}}</option>
                        </select>   
                        <label>Tipo de Endereço *</label>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <input type="text" maxlength="18" [(ngModel)]="endereco.cepFormatado" (blur)="pesquisarCep()"
                              mask='00.000-000' autocomplete="offCep" name="cepFormatado" class="form-control" required>
                        <label>CEP *</label>
                      </div>
                    </div>

                    <div class="col-sm-5">
                      <div class="form-group">
                        <input type="text" maxlength="50" [(ngModel)]="endereco.extensaoEndereco.logradouro" 
                                name="logradouro" class="form-control" required autocomplete="offLog" [readonly]="isLogradouroReadOnly">
                        <label>Logradrouro *</label>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <input type="text" maxlength="30" [(ngModel)]="endereco.numero" autocomplete="offNumero"
                                name="numero" class="form-control" required >
                        <label>Número *</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" maxlength="100" [(ngModel)]="endereco.complemento" 
                                name="complemento" class="form-control"  autocomplete="offComp">
                        <label>Complemento</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" maxlength="100" [(ngModel)]="endereco.pontoReferencia" 
                                name="complemento" class="form-control"  autocomplete="offPontoRef">
                        <label>Ponto de Referência</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <input type="text" maxlength="50" [(ngModel)]="endereco.extensaoEndereco.bairro" 
                                name="bairro" class="form-control" autocomplete="offBairro" [readonly]="isBairroReadOnly" required>
                        <label>Bairro *</label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <input type="text" maxlength="50" [(ngModel)]="endereco.extensaoEndereco.localidade" 
                                name="localidade" class="form-control" autocomplete="offLoc" [readonly]="isLocalidadeReadOnly">
                        <label>Localidade</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="endereco.extensaoEndereco.uf" name="uf" [disabled]="isUfReadOnly" #uf="ngModel" required>
                          <option *ngFor="let uf of listaUf" [ngValue]="uf.valor">{{uf.nome}}</option>
                        </select>
                        <label>Estado *</label>
                      </div>
                    </div>
                  </div>

                  <div class="row small-padding">
                    <div class="pull-left">
                        <button type="button" class="btn ink-reaction btn-raised btn-primary btn-raised btn-sm" (click)="adicionarEndereco()">
                          Adicionar Endereço
                        </button> 
                    </div>
                  </div>

                  <div class="row">
                    <div class="table-responsive no-margin">
                      <table class="table table-condensed table-hover no-margin">
                        <thead class="style-primary-light">	
                          <tr>
                            <th>Tipo de Endereço</th>
                            <th>CEP</th>
                            <th>Logradouro</th>
                            <th>Número</th>
                            <th>Complemento</th>
                            <th>Ponto de Referência</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th style="width: 3%;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let endereco of listaEndereco; let i = index" [attr.data-index]="i">
                            <td>{{endereco.descricaoTipo}}</td>
                            <td>{{endereco.cepFormatado | mask: '00.000-000'}}</td>
                            <td>{{endereco.extensaoEndereco.logradouro}}</td>
                            <td >{{endereco.numero}}</td>
                            <td>{{endereco.complemento}}</td>
                            <td>{{endereco.pontoReferencia}}</td>
                            <td>{{endereco.extensaoEndereco.bairro}}</td>
                            <td>{{endereco.extensaoEndereco.localidade}}</td>
                            <td>{{endereco.extensaoEndereco.uf}}</td>
                            <td style="width: 3%;">
                                <i class="glyphicon glyphicon-trash" (click)="excluirEndereco(i)" style="cursor: pointer;" title="Inativar"></i>
                            </td>
                          </tr>
                      </table>
                    </div>
                  </div>

                </div>
              </div>

    
              <!-- CONTATO -->
              <div class="card card-outlined style-primary" id="divContato">
                <div class="card-head">
                  <header>Telefone
                      <small>  (Adicione pelo menos um contato)</small>
                  </header>
                </div>
              
                <!-- Telefones PF -->
                <div class="card-body" style="display: block;">          

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                          <select class="form-control" [(ngModel)]="telefonePf.objTipo" name="objtipo" #objTipo="ngModel" required>
                            <option *ngFor="let tipo of listaTipoTelefone" [ngValue]="tipo">{{tipo.nomeValor}}</option>
                          </select>
                        <label>Tipo</label>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                          <input type="text" [(ngModel)]="telefonePf.nrTelefoneExtenso" autocomplete="offTel"
                                  mask='(00) 00000-0000' name="nrTelefoneExtensoPf" class="form-control" required>
                        <label>Telefone *</label>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <div style="margin-top: 10px;">
                          <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox" [(ngModel)]="telefonePf.flagWhats" name="flagWhats" #flagWhats="ngModel" >
                            <span><img src="assets/img/wapp.png" style="width: 24px; height: 24px;">WhatsApp</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row small-padding">
                    <div class="pull-left">
                        <button type="button" class="btn ink-reaction btn-raised btn-primary btn-raised btn-sm" (click)="adicionarTelefonePf()">
                          Adicionar Telefone
                        </button> 
                    </div>
                  </div>
                    
                  <div class="row">
                    <div class="table-responsive no-margin">
                      <table class="table table-condensed table-hover no-margin">
                        <thead class="style-primary-light">	
                          <tr>
                            <th>Tipo</th>
                            <th>Número</th>
                            <th>WhatsApp</th>
                            <th style="width: 3%;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let telefonePf of listaTelefonePf; let i = index" >
                            <td style="width: 25%;">{{telefonePf.descricaoTipo}}</td>
                            <td style="width: 25%;">({{telefonePf.ddd}}) {{telefonePf.numero | mask: '00000-0000'}}</td>
                            <td style="width: 25%;"> 
                              <span *ngIf="telefonePf.flagWhats">SIM</span>
                              <span *ngIf="!telefonePf.flagWhats">NÃO</span>
                            </td>
                            <td style="width: 3%;">
                              <i class="glyphicon glyphicon-trash" (click)="excluirTelefonePf(i)" style="cursor: pointer;" title="Inativar"></i>
                            </td>
                          </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- AGENDA -->
              <div class="card card-outlined style-primary" id="divAgenda">
                <div class="card-head">
                  <header>Agenda Semanal</header>
                </div>

                <div class="card-body" style="display: block;">
                  <div class="row">

                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body no-padding">
                          <div class="table-responsive no-margin">
                            <table id="datatable1" class="table table-hover no-margin">
                              <thead class="style-default-dark">
                              <tr>
                                <th style="width: 25%;" class="text-center" > Dia </th>
                                <th style="width: 16%;" class="text-center">Horário 1</th>
                                <th style="width: 16%;" class="text-center">Horário 2</th>
                                <th style="width: 16%;" class="text-center">Horário 3</th>
                                <th style="width: 16%;" class="text-center">Horário 4</th>
                                <th class="text-center" style="width: 3%;" title="Apagar todos os horários"><i class="fa fa-eraser" (click)="limparAllHorario()" style="width:18px; height: 18px; cursor: pointer;"></i></th>
                              </tr>
                              </thead>

                              <tr *ngFor="let item of listaTrabalhadorAgenda; let i = index" >
                                <td class="text-left">
                                  <label class="checkbox-inline checkbox-styled checkbox-success">
                                    <input type="checkbox" [(ngModel)]="item.flagSel" (change)="limparHorario(item)" name="fgAtivo{{i}}"><span>{{listaDia[i].nome}}</span>
                                  </label>
                                </td>
                                <td class="text-center">
                                  <input type="text" [disabled]="!item.flagSel" [(ngModel)]="item.nrHor1" mask="Hh:m0" name="nrHor1{{i}}"
                                         class="form-control"
                                         style="text-align: center">
                                </td>
                                <td class="text-center">
                                  <input type="text" [disabled]="!item.flagSel" [(ngModel)]="item.nrHor2" mask="Hh:m0"  name="nrHor2{{i}}"
                                         class="form-control"
                                         style="text-align: center">
                                </td>
                                <td class="text-center">
                                  <input type="text" [disabled]="!item.flagSel" [(ngModel)]="item.nrHor3"  mask="Hh:m0" name="nrHor3{{i}}"
                                         class="form-control"
                                         style="text-align: center">
                                </td>
                                <td class="text-center">
                                  <input type="text" [disabled]="!item.flagSel" [(ngModel)]="item.nrHor4" mask="Hh:m0" name="nrHor4{{i}}"
                                         class="form-control"
                                         style="text-align: center">
                                </td>
                                <td class="text-center">
                                  <i class="fa fa-thumb-tack" title="Replicar para todos os horários" *ngIf="item.flagSel" (click)="replicarHorario(i,item)" style="width:18px; height: 18px; cursor: pointer;"></i>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-actionbar">
                  <div class="card-actionbar-row">
                    
                      <button *ngIf="codigo == undefined" type="submit" class="btn ink-reaction btn-raised btn-success"  accesskey="C">
                        Cadastrar
                      </button>  
                    
                    
                      <button *ngIf="codigo != undefined" type="button" (click)="alterar()" class="btn ink-reaction btn-raised btn-success"  accesskey="A">
                        Alterar
                      </button>  
                    
                    <a class="btn ink-reaction btn-raised btn-default" accesskey="V" (click)="voltar()">
                    Voltar 
                    </a>
                  </div>
              </div>
            </form>
          </div>

        </div>      
      </div>

    </div>    

  </div>
  
</section>
