<section>
  <div class="section-body">

    <!-- BEGIN BASIC VALIDATION -->
    <div class="row">     
     
      <div class="col-lg-12">
        <div class="card card-underline">
          <div class="card-head card-head-sm">
            <header><b>Ação - Gerenciar</b></header>
          </div>
      
          <div class="card-body" style="display: block;">
            <form class="form" name="formulario" #form="ngForm" novalidate accept-charset="utf-8">
                
              <div class="row">
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" maxlength="50" autocomplete="off" [(ngModel)]="objetoPesquisa.nome" name="nome" class="form-control" required>  
                    <label>Nome</label>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="objetoPesquisa.situacao" name="situacao" required>
                      <option [ngValue]="null">- Selecione a Situação -</option>
                      <option *ngFor="let situacao of listaSituacao" [ngValue]="situacao.valorCampo">{{situacao.nomeValor}}</option>
                    </select>   
                    <label>Situação</label>
                  </div>
                </div>
                
              </div>

            </form>
          </div>

          <div class="card-actionbar">
              <div class="card-actionbar-row">
                  <a class="btn ink-reaction btn-raised btn-success" (click)="pesquisar()" accesskey="P">
                  Pesquisar  
                  </a> 
              </div>
          </div>

        </div>      
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body no-padding">
            <div class="table-responsive no-margin">
               <table id="datatable1" class="table table-hover no-margin">
                <thead class="style-default-dark">
                  <tr>
                    <th class="text-left">Nome</th>
                    <th class="text-left">Tipo de Ação</th>
                    <th class="text-center">Data de Inclusão</th>
                    <th class="text-left">Situação</th>
                    <th class="text-center" style="width: 4%;"></th>
                    <th class="text-center" style="width: 4%;"></th>
                  </tr>
                </thead>

                <tr *ngFor="let item of listaResultado">
                  <td class="text-left">{{item.nome}}</td>
                  <td class="text-left">{{item.tipoAcao.descricao}}</td>
                  <td class="text-center">{{item.auditoria.dataInclusao | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td class="text-left">{{item.descricaoSituacao}}</td>
                  <td> 
                    <button *ngIf="item.situacao == situacaoPendente" type="button" class="btn btn-icon-toggle" (click)="editar(item.codigo)">
                      <i class="fa fa-edit" title="Editar Ação"></i>
                    </button> 
                    <button *ngIf="item.situacao == situacaoAtiva" type="button" class="btn btn-icon-toggle" (click)="alterarStatusAcao(item.codigo, situacaoAbertaInscricao)">
                      <i class="fa fa-file-text-o" title="Abrir Inscrição"></i>
                    </button>
                    <button *ngIf="item.situacao == situacaoAbertaInscricao" type="button" class="btn btn-icon-toggle" (click)="alterarStatusAcao(item.codigo, situacaoConfirmada)">
                      <i class="fa fa-thumbs-up" title="Confirmar Ação"></i>
                    </button>
                    <button *ngIf="item.situacao == situacaoConfirmada" type="button" class="btn btn-icon-toggle" (click)="alterarStatusAcao(item.codigo, situacaoRealizada)">
                      <i class="fa fa-check" title="Marcar como Realizada"></i>
                    </button>
                  </td>
                  <td> 
                    <button *ngIf="item.situacao != situacaoRealizada && item.situacao != situacaoCancelada" type="button" class="btn btn-icon-toggle" (click)="alterarStatusAcao(item.codigo, situacaoCancelada)">
                      <i class="fa fa-remove" title="Cancelar Ação"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>