<section>
  <div class="section-body">

    <!-- BEGIN BASIC VALIDATION -->
    <div class="row">     
     
      <div class="col-lg-12">
        <div class="card card-underline">
          <div class="card-head card-head-sm">
            <header><b>Item de Espaço - Pesquisar</b></header>
          </div>
      
          <div class="card-body" style="display: block;">
            <form class="form" name="formulario" #form="ngForm" novalidate accept-charset="utf-8">
                
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" maxlength="50" autocomplete="off" style="text-transform: uppercase;" [(ngModel)]="objetoPesquisa.descricao" name="descricao" class="form-control">  
                    <label>Nome</label>
                  </div>
                </div>
              </div>

            </form>
          </div>

          <div class="card-actionbar">
              <div class="card-actionbar-row">
                  <a class="btn ink-reaction btn-raised btn-success" (click)="pesquisar()" accesskey="P">
                  Pesquisar  
                  </a> 
                  <a class="btn ink-reaction btn-raised btn-default" [routerLink]="['/item-espaco-atualizar']" accesskey="N">
                  Novo  
                  </a>                  
              </div>
          </div>

        </div>      
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body no-padding">
            <div class="table-responsive no-margin">
               <table id="datatable1" class="table table-hover no-margin">
                <thead class="style-default-dark">
                  <tr>
                    <th class="text-left">Nome</th>
                    <th class="text-center">Data de Inclusão</th>
                    <th class="text-left">Situação</th>
                    <!-- <th class="text-center" style="width: 3%;"></th> -->
                    <th class="text-center" style="width: 3%;"></th>
                    <th class="text-center" style="width: 3%;"></th>
                  </tr>
                </thead>

                <tr *ngFor="let item of listaResultado">
                  <td class="text-left">{{item.descricao}}</td>
                  <td class="text-center">{{item.auditoria.dataInclusao | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td class="text-left" *ngIf='item.flagAtivo != "N"'>ATIVO</td>
                  <td class="text-left" *ngIf='item.flagAtivo == "N"'>INATIVO</td>
                  <!-- <td> <i class="fa fa-search" (click)="visualizar(item.codigo)" title="Visualizar" style="width:18px; height: 18px; cursor: pointer;"></i></td> -->
                  <td> <i class="fa fa-edit" (click)="editar(item.codigo)" title="Editar" style="width:18px; height: 18px; cursor: pointer;"></i></td>
                  <td> 
                    <i *ngIf='item.flagAtivo == "N"' class="fa fa-check" title="Ativar" (click)="ativarItemEspaco(item.codigo)" style="width:18px; height: 18px; cursor: pointer;"></i>
                    <i *ngIf='item.flagAtivo == "S"' class="fa fa-remove" title="Inativar" (click)="inativarItemEspaco(item.codigo)" style="width:18px; height: 18px; cursor: pointer;"></i>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>