<!-- BEGIN LOGIN SECTION -->
<section id="login" class="section-account">
	<!-- 
		<div class="img-backdrop" style="background-image: url('assets/img/img16.jpg')"></div>
	 -->
	<img src="assets/img/cefit_logo.png" style="size:contain;margin-top:60px !important;max-width:80%;max-height:80%;display:block;margin-left:auto;margin-right:auto" >  
	<br/>
	<br/>
	<!-- 
	<div class="spacer"></div>
	 -->
	<div class="card contain-sm style-default-light">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<form class="form floating-label" #form="ngForm" (ngSubmit)="login()" novalidate accept-charset="utf-8">
						<div class="form-group">
							<input type="text"
                        [(ngModel)]="usuario.login"
                               name="login"
                              class="form-control"
                                 id="inputLogin"
                             #dsLogin="ngModel" required>

							<label for="inputLogin">Login</label>
						</div>
						<div class="form-group">
							<input type="password"
							[(ngModel)]="usuario.senha"
									name="password"
									class="form-control"
											id="inputPassword"
							#dsPassword="ngModel" required>

							<label for="inputPassword">Senha</label>
              <p class="help-block"><a [routerLink]=""  (click)="resetarSenha()"> Esqueceu a senha ?</a></p>
						</div>

						<br/>
						<div class="row">
							<div class="col-xs-3 text-left">
								<div class="checkbox checkbox-inline checkbox-styled">
									<label>
										<input [(ngModel)]="usuario.isRememberme" name="remember" type="checkbox"> <span>Lembrar-me</span>
									</label>
								</div>
							</div><!--end .col -->

							<div class="col-xs-3 text-right">
								<button type="submit" [disabled]="!form.valid" class="btn ink-reaction btn-raised btn-primary">Entrar</button>
							</div><!--end .col -->
              <div class="col-xs-3 text-right">
                <button type="button" class="btn btn-block btn-raised btn-primary" (click)="cadastrar()">Cadastre-se</button>
              </div><!--end .col -->
						</div><!--end .row -->
						<br/>
						<div class="footer text-center">
							<img alt="Logo Aptare" src="assets/framework-aptare/img/footer.png">
						</div>
					</form>
				</div>
			</div>		
		</div><!--end .col -->
	</div><!--end .card -->
</section>
		<!-- END LOGIN SECTION -->
