<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="../../html/dashboards/dashboard.html">
							<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

					
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-business"></i></div>
								<span class="title">Empregador</span>
							</a>
							<ul>
								<li><a [routerLink]="['/empregador-pesquisar']" ><span class="title">Pesquisar</span></a></li>
								<li><a [routerLink]="['/empregador-atualizar']" ><span class="title">Cadastrar</span></a></li>
							</ul>
						</li>

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-group"></i></div>
								<span class="title">Profissional</span>
							</a>
							<ul>
								<li><a [routerLink]="['/profissional-pesquisar']" ><span class="title">Pesquisar</span></a></li>
								<li><a [routerLink]="['/profissional-atualizar']" ><span class="title">Cadastrar</span></a></li>
							</ul>
						</li>

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-briefcase"></i></div>
								<span class="title">Trabalhador</span>
							</a>
							<ul>
								<li><a [routerLink]="['/trabalhador-pesquisar']" ><span class="title">Pesquisar</span></a></li>
								<li><a [routerLink]="['/trabalhador-atualizar']" ><span class="title">Cadastrar</span></a></li>
							</ul>
						</li>

						<!-- <li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-bank"></i></div>
								<span class="title">Espaços</span>
							</a>
							<ul>
								<li><a [routerLink]="['/espaco-pesquisar']" ><span class="title">Pesquisar</span></a></li>
								<li><a [routerLink]="['/espaco-atualizar']" ><span class="title">Cadastrar</span></a></li>
							</ul>
						</li> -->

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-cogs"></i></div>
								<span class="title">Configurações</span>
							</a>
							<ul>
								<li><a [routerLink]="['/cargo-pesquisar']" ><span class="title">Cargo</span></a></li>
								<li><a [routerLink]="['/qualificacao-pesquisar']" ><span class="title">Qualificação</span></a></li>
							</ul>
						</li>


					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->
